.grid {
	width: 100vw;
	margin: 1px;
	color: black;
}

#link {
	color: white;
	font-size: 10px;
	display: none;
	margin: 10px 5px 10px;
}

.copyLink {
	margin-left: 8px;
	cursor: pointer;
	color: #0b2d42;
}

.copyLink:hover {
	color: #124a6d;
}

.buttons {
	width: 100%;
	display: inline-block;
}

.algorithmButton {
	background-color: none;
	border: none;
	margin: 5px;
}

@media (max-width: 770px) {
	.linkLabel {
		display: none;
	}
	.linkCheckbox {
		display: none;
	}
	#checkForLink {
		display: none;
	}
}

.linkLabel {
	cursor: pointer;
	position: absolute;
	top: 58px;
	left: 50px;
	color: #fcfbe8;
	font-size: 12px;
}

#checkForLink {
	cursor: pointer;
	position: absolute;
	top: 59.7px;
	left: 194px;
	color: white;
	font-size: 12px;
}
