.grid {
	width: 100vw;
	margin: 1px;
	color: black;
}

#link {
	color: white;
	font-size: 10px;
	display: none;
	margin: 10px 5px 10px;
}

.copyLink {
	margin-left: 8px;
	cursor: pointer;
	color: #0b2d42;
}

.copyLink:hover {
	color: #124a6d;
}

.buttons {
	width: 100%;
	display: inline-block;
	float: center;
}

@media (max-width: 770px) {
	.linkLabel {
		display: none;
	}
	.linkCheckbox {
		display: none;
	}
	#checkForLink {
		display: none;
	}
}

.linkLabel {
	cursor: pointer;
	position: absolute;
	top: 58px;
	left: 50px;
	color: #fcfbe8;
	font-size: 12px;
}

#checkForLink {
	cursor: pointer;
	position: absolute;
	top: 59.7px;
	left: 194px;
	color: white;
	font-size: 12px;
}

.btn {
	width: 100px;
	height: 30px;
	background: #0f3b57;
	border: 4px solid #0b2d42;
	color: #F9F7D0;
	font-weight: 700;
	cursor: pointer;
	font-size: 8px;
	position: relative;
	margin: 0px 2px 2px 2px;
	outline: none;
}

.btn:hover {
	color: #fcfbe8;
}

.btn::before,.btn::after{
	background: #0f3b57;
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	transform: skewX(50deg);
	transition: .4s linear;
}

.btn::before{
	top: -4px;
	left: 10%;
}

.btn::after{
	bottom: -4px;
	right: 10%;
}

.btn:hover::before{
	left: 80%;
}

.btn:hover::after{
	right: 80%;
}
