.node {
	width: 25px;
  	height: 25px;
  	outline: 1px solid black;
  	display: inline-block;
  	margin-bottom: 0px;
}

.node-finish {
	background-color: red;
}

.node-start {
	background-color: green;
}

.node-visited {
	background-color: blue;
}

.node-shortest-path {
	background-color: yellow;
}