.node {
	width: 20px;
  	height: 20px;
  	outline: 1px solid black;
  	display: inline-block;
  	margin-bottom: -4px;
}

.node-finish {
	background-color: red;
}

.node-start {
	background-color: green;
}

.node-visited {
	background-color: #d0d0e1;
}

.node-open {
	background-color: #efeff5;
}

.node-shortest-path {
	background-color: #ff5050;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}
