.node {
	width: 20px;
  	height: 20px;
  	outline: 1px solid black;
  	display: inline-block;
  	margin-bottom: -4px;
}

.node-finish {
	background-color: red;
}

.node-start {
	background-color: green;
}

.node-visited {
	background-color: #808080;
}

.node-open {
	background-color: #737373;
}

.node-shortest-path {
	padding: 2px;
	color: white;
	background-color: #808080;;
}

.node-wall {
	background-color: rgb(12, 53, 71);
}

