.node {
	width: 20px;
  	height: 20px;
  	display: inline-block;
  	margin-bottom: -4px;
  	background: rgba(255,255,255,.3);
}

.node-finish {
	background-color: red;
}

.node-start {
	background-color: green;
}

.node-visited {
	background-color: rgba(255,255,255,.1);
}

.node-shortest-path {
	padding: 2px;
	color: #F9F7D0;
}

.node-wall {
	background: rgba(12, 53, 71, .6);
}

